html {
    scroll-behavior: smooth;
  }
*{
    font-family: Tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #F1F1F1;
}
.header{
    background: #2D3370;
    height: 8vh;
    width: 100%;
    border-bottom: 2px solid rgb(26, 30, 80);

}
.header .logo{  
    position: relative;
    top: 20%;
    height: 60%;
    display: block;
    margin: 0 auto;

}


.nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #111;
    width: 100%;
    height: 53px;
    color: #F1F1F1;
    z-index: 2;

}
.nav ul{
    list-style-type: none;
    text-align: center;

}
.nav li{
    display: inline-block;
    position: relative;
    margin: 9px 20px;
    width: 150px;
    border: 2px solid #F1F1F1;
    border-radius: 10px;
}
.nav li a{
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;

}
.nav a:hover{
    background-color: #2F2F2F;
}
.nav a{
    text-decoration: none;
    color: #F1F1F1;
}


.content{
    box-sizing: border-box;
    min-height: 80vh;
    width: 1000px;
    padding: 50px 0;
    margin: 0 auto;
}
.content hr{
    margin: 70px;

}


#container-0 .img{
    display: inline-block;
    width: 48%;
    border: 2px dashed #2D3370;
    border-radius: 5px;

}    
#container-0 .img img{
    position: relative;
    width: 100%;
}
#container-0 .text{
    display: block;
    width: 48%;
    float: right;

}
#container-0 h1{
    text-align: center;
}
#container-0 p{

    text-align: justify;
}


#container-1 h1{
    margin: 20px;
}
#container-1{
    text-align: center;
}
#container-1 .left{
    width: 46%;
    display: inline-block;
    margin: 1% 10px;

}
.left img{
    border: 2px dashed #2D3370;
    border-radius: 5px;
    position: relative;
    width: 100%;
}


#container-2 h1{
    text-align: center;
    margin: 20px;
}
#container-2 .lewy{
    display: inline-block;
    width: 45%;

}
#container-2 .left p{
    margin: 15px;
    text-align: justify;
}

.left iframe{
    width: 100%;
    height: 300px;
}


#container-3 h1{
    text-align: center;
    margin: 20px;
}
#container-3 .left{
    display: inline-block;
    width: 48%;
    margin: 1%;
}
#container-3 .left input{
    position: relative;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}
#container-3 .text{
    width: 48%;
    float: right;
    margin: 1%;
    height: 140px;

}
#container-3 .text textarea{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 5px;
}
#container-3 button{
    display: block;
    width: 100px;
    height: 30px;
    text-align:center;
    margin: 0 auto;
    color: #F1F1F1;
    background: #2D3370;
    border: none;
}

.footer{
    background: #101010;
    width: 100%;
    height: 6vh;
}
.footer p{
    color: #F1F1F1;
    text-align: center;
    padding: 5px;
}
